<div class="container">
    
  <div class="logo-wrapper">
    <img src="img/logo-blue.png" alt="Domino's Pizza Logo">
  </div>

  <h1 class="title text-center font-lg font-bold">Where's it going?</h1>

  <p class="copy font-m text-center">Time to check you haven't still got<br>your ex's address linked.</p>
  
  <form class="form" action="">

    <h2 class="font-bold subtitle">Delivery Address</h2>
    
    <div class="form-group cf">
      <label class="form-label float-left font-s" for="name">Name</label>
      <input class="form-input float-left font-s" type="text" name="name">   
      <br>
      <label class="form-label float-left font-s" for="email">Email</label>
      <input class="form-input float-left font-s" type="text" name="email">
    </div>
    <div class="form-group cf">
      <label class="form-label float-left font-s" for="address1">Address 1</label>
      <input class="form-input float-left font-s" type="text" name="address1">
      <br>
      <label class="form-label float-left font-s" for="address2">Address 2</label>
      <input class="form-input float-left font-s" type="text" name="address2">
      <br>
      <label class="form-label float-left font-s" for="postcode">Postcode</label>
      <input class="form-input float-left font-s" type="text" name="postcode"> 
    </div>

    <a class="button button-red font-m text-center" href="/payment-details?sessionid={{sessionid}}">Fire up the ovens!</a>

  </form>

</div>
    