<div class="container">
    
  <div class="logo-wrapper">
    <img src="img/logo-blue.png" alt="Domino's Pizza Logo">
  </div>

  <div class="inner-container">

    <h1 class="title text-center font-lg font-bold">Money at the ready!</h1>

    <p class="copy font-m text-center">Squeaky bum time</p>
    <p class="copy font-m text-center">Check your order and confirm that no rogue garlic breads have crept in (but even if they have... it can only be a good thing right?)</p>
    
    <ul class="order-list"></ul>

    <h2 class="subtitle font-m font-bold">Total <span class="total"></span></h2>

  </div>

  <a class="button button-red text-center" href="/address?sessionid={{sessionid}}">Let's start making magic (pay).</a>

</div>
