<div class="container">
    
  <div class="logo-wrapper">
    <img src="img/logo-blue.png" alt="Domino's Pizza Logo">
  </div>

  {{!-- <p class="debugging"></p> --}}

  <h1 class="title text-center font-lg font-bold">And just like that...</h1>

  <p class="copy font-m text-center">A new pizza is born.</p>
  <p class="copy font-m text-center">Thanks! It's been emotional.</p>
  
  <a class="button button-red text-center share" href="#">Let the group know</a>

</div>
    