<div class="container">
  <div class="logo-wrapper">
    <img src="img/logo.png" alt="Domino's Pizza Logo">
  </div>
  <h1 class="title font-lg">DOM HERE, <br/>HAPPY TO HELP</h1>
  <p class="copy font-m">Ah you want pizza? What a coincidence.</p>
  <form id="new-order" action="/menu">
  	<input class="text-input font-m" type="text" placeholder="Let's get your postcode">
  	{{!-- <input class="button button-red font-m" type="submit" value="Get started"> --}}
    <button class="button button-red font-m">Get started</button>
  </form>
  <div class="push"></div>
</div>
<footer class="footer cf">
  <div class="float-left width-50">
    <p class="font-xs text-left">Domino's Legal stuff <br/>C2017 Domino's UK LTD</p>
  </div>
  <div class="float-left width-50">
      <p class="font-xs text-right">
        <a class="text-white" href="/privacy-policy">Privacy Policy</a>&nbsp;<a class="text-white" href="/contact-us">Contact Us</a>
      </p>
      <br/><br/>
  </div>
</footer>
