<div class="container">

<div class="logo-wrapper">
  <img src="img/logo-blue.png" alt="Domino's Pizza Logo">
</div>

<h1 class="title text-center font-lg font-bold">Let's EAT</h1>

<p class="copy font-m text-center">Ready to go to the yum show?</p>
<p class="copy font-m text-center">Fill your basket with things for your belly, then share with your group. We'll break down who ordered what at the end (I know all about the tight one).</p>

<div class="pizza carousel">
	<h2 class="subtitle text-m font-bold">Pizza</h2>
	<div class="carousel-outer">
		<div class="carousel-inner"></div>
	</div>
</div>
<div class="sides carousel">
	<h2 class="subtitle text-m font-bold">Sides</h2>
	<div class="carousel-outer">
		<div class="carousel-inner"></div>
	</div>
</div>
<div class="desserts carousel">
	<h2 class="subtitle text-m font-bold">Desserts</h2>
	<div class="carousel-outer">
		<div class="carousel-inner"></div>
	</div>
</div>
<div class="drinks carousel">
	<h2 class="subtitle text-m font-bold">Drink</h2>
	<div class="carousel-outer">
		<div class="carousel-inner"></div>
	</div>
</div>
<div class="footer">
	<a class="share button button-blue text-center font-m" href="#">Share with the squad</a>
	<p class="text-center font-bold font-s">OR</p>
	<a class="button button-red text-center font-m" href="/confirm-order?sessionid={{sessionid}}">Ride solo - pay now.</a>
</div>

</div>
