</div>

<div class="container">
    
  <div class="logo-wrapper">
    <img src="img/logo-blue.png" alt="Domino's Pizza Logo">
  </div>

  <h1 class="title text-center font-lg font-bold">Just a couple more boring bits</h1>

  <p class="copy font-m text-center">Before my favourite time</p>
  <p class="copy font-m text-center">Pizza o'clock!</p>
  
  <form class="form">

    <h2 class="font-bold subtitle">Payment Details</h2>
    
    <div class="form-group cf">
      <label class="form-label float-left font-s" for="cardnumber">Card Number</label>
      <input class="form-input float-left font-s" type="text" name="cardnumber">   
      <br>
      <label class="form-label float-left font-s" for="name">Name</label>
      <input class="form-input float-left font-s" type="text" name="name">
      <br>
      <label class="form-label float-left font-s" for="cvc">CVC</label>
      <input class="form-input float-left font-s" type="text" name="cvc"> 
    </div>

    <a class="button button-red font-m text-center" href="/end?sessionid={{sessionid}}">Fire up the ovens!</a>

  </form>

</div>
