<div class="container">
    
  <div class="logo-wrapper">
    <img src="img/logo-blue.png" alt="Domino's Pizza Logo">
  </div>

  <h1 class="title text-center font-lg font-bold">Privacy Policy</h1>

  <p class="copy font-m text-center">Lorem ipsum.</p>  

</div>
