<div class="container">

  <div class="logo-wrapper">
    <img src="/img/logo-blue.png" alt="Domino's Pizza Logo">
  </div>

  <h1 class="title text-center font-lg font-bold">Great choice slugger!</h1>

  <p class="copy text-center font-m">Add <span class="product-name">Lorem ipsum</span></p>

  <div class="product-display cf">
    <div class="product-img-wrapper width-50 float-left">
      <img class="product-img" src="https://placehold.it/200x200" alt="">
    </div>
    <div class="product-copy-wrapper width-50 float-left">
      <h2 class="product-name font-bold">Lorem ipsum</h2> 
      <p class="product-description font-s">Lorem ipsum dolor amet.</p>  
    </div>
  </div>

{{!--   <div class="small-buttons-wrapper cf">
    <a href="" class="button-sm button-blue text-center font-s float-left">MEDIUM</a>
    <a href="" class="button-sm button-blue text-center font-s float-left">LARGE</a>
    <a href="" class="button-sm button-blue text-center font-s float-left">EXTRA LARGE</a>
  </div> --}}

  <a class="button button-blue text-center font-m addItem" href="#">Add to order</a>
  <p class="or text-center font-bold font-s">OR</p>
  <a class="button button-red text-center font-m" href="/menu?sessionid={{sessionid}}">Cancel</a>

</div>
