/**************
 Fonts
***************/

@font-face {
  font-family: TradeGothicLTStd;
  src: url('../fonts/TradeGothicLTStd.otf');
  font-weight: normal;
}

@font-face {
  font-family: TradeGothicLTStd;
  src: url('../fonts/TradeGothicLTStd-Light.otf');
  font-weight: lighter;
}

@font-face {
  font-family: TradeGothicLTStd;
  src: url('../fonts/TradeGothicLTStd-Bold.otf');
  font-weight: bold;
}

/**************
 Helper classes
***************/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.font-bold {
  font-weight: bold;
}

.font-lg {
  font-size: 27px;
  line-height: 32px;
}

.font-m {
  font-size: 17px;
  line-height: 20px;
}

.font-s {
  font-size: 11px;
}

.font-xs {
  font-size: 8px;
}

.text-white {
  color: #FFF;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.float-left {
  float: left;
}

.width-50 {
  width: 50%;
}

/**************
 Basic layout
***************/

* {
  box-sizing: border-box;
}

body {
  font-family: TradeGothicLTStd;
  padding: 40px 20px;
}

.container {
  max-width: 600px;
  margin: auto;
}

.logo-wrapper {
  width: 115px;
  margin: auto;
}

.logo-wrapper img {
  width: 100%;
}

.title {
  margin: 35px auto 10px auto;
}

.copy {
  padding: 0 10px;
  margin-bottom: 25px;
}

.text-input {
  padding: 20px;
  display: block;
  border: 2px solid #ccc;
  width: 90%;
  min-width: 340px;
  max-width: 480px;
  margin: auto;
}

.button {
  padding: 20px;
  display: block;
  border: none;
  width: 90%;
  min-width: 340px;
  max-width: 480px;
  margin: auto;
  text-decoration: none;
}

.button-sm {
  padding: 10px;
  display: block;
  border: none;
  width: 115px;
  text-decoration: none;
}

.button-red {
  background-color: #d0343e;
  color: #FFF;
}

.button-blue {
  background-color: #036391;
  color: #FFF; 
}

.form .form-group {
  margin-bottom: 30px;
}

.form .form-label,
.form .form-input {
  display: block;
}

.form .form-label {
  width: 25%;
  line-height: 32px;
}

.form .form-input {
  padding: 8px;
  border: 1px solid #CCC;
  width: 75%;
  margin-bottom: 10px;
}


/**************
 Start page
***************/

html.start,
body.start {
  height: 100%;
}

body.start {
  background: url('../img/postcode-bg.jpg') no-repeat center center;
  background-size: cover;
  color: #FFF;
  text-align: center;
}

.start .copy {
  padding: 0;
  margin-bottom: 60px;
}

.start .button,
.start .text-input {
  margin: 0 auto 35px auto;
}

.start .text-input,
.start .text-input::-webkit-input-placeholder {
  color: #000;
}

.start .container {
  min-height: 100%;
  margin-bottom: -20px;
}

.start .footer,
.start .push {
  height: 20px;
}

/**************
 Menu page
***************/

.menu a {
  text-decoration: none;
}

.menu .subtitle {
  padding: 10px;
}

.menu .carousel {
  border-bottom: 1px solid #CCC;
  padding: 20px 0;
}

.menu .carousel a {
  color: #000;
}

.menu .carousel-outer {
  width: 100%;
  overflow: auto;
}

.menu .carousel-inner {
  display: table;
}

.menu .carousel-panel {
  display: table-cell;
  vertical-align: text-top;
  padding: 5px;
}

.menu .carousel-panel img {
  width: 125px;
  display: block;
}

.menu .carousel-copy {
  margin-top: 5px;
  max-width: 125px;
}

.menu .footer {
  padding: 20px 0; 
}

.menu .footer p {
  margin: 10px;
}

/**************
 Submenu page
***************/

.submenu .small-buttons-wrapper {
  width: 90%;
  margin: 0 auto 35px auto;
}

.submenu .small-buttons-wrapper .button-sm {
  margin-right: 30px;
  width: calc(33.333% - 20px);
}

.submenu .small-buttons-wrapper .button-sm:last-child {
  margin-right: 0;
}

.submenu .product-display {
  position: relative;
  margin-bottom: 25px;
}

.submenu .product-img-wrapper {
  width: 128px;
}

.submenu .product-img {
  width: 100%;
}

.submenu .product-copy-wrapper {
  position: absolute;
  top: 50%;
  left: 150px;
  transform: translateY(-50%);
}

.submenu .product-name {
  margin-bottom: 10px;
}

.submenu .or {
  margin: 10px;
}

/**************
 Confirm Order page
***************/

.confirm .inner-container {
  width: 90%;
  min-width: 380px;
  margin: auto;
}

.confirm .order-list-item {
  margin-bottom: 35px;
}

.confirm .order-list-item:last-child {
  margin-bottom: 0;
}

.confirm .item-title {
  margin-bottom: 20px;
}

.confirm .item-type {
  margin-right: 15px;
}

.confirm .item-quantity {
  border: 1px solid #ccc;
  width: 45px;
  padding: 9px;
  margin-right: 15px;
}


.confirm .item-price,
.confirm .item-type,
.confirm .item-quantity {
  display: inline-block;
  margin-bottom: 10px;
}

.confirm .order-sublist-item:last-child .item-type,
.confirm .order-sublist-item:last-child .item-quantity {
  margin-bottom: 0;
}

.confirm .order-list {
  margin-bottom: 50px;
}

.confirm .subtitle {
  margin-bottom: 50px;
}

/**************
 Address page
***************/

.address .subtitle {
  margin-bottom: 15px;
}

/**************
 Payment page
***************/

.payment .subtitle {
  margin-bottom: 15px;
}




